<%= @board.title %>
<ul>
  <% @board.tags.each do |tag|%>
  <li><%= tag.pin.title %></li>
  <li><%= image_tag(tag.pin.photo_url)%></li>
  <%= link_to "Delete Pin From Board", user_board_tag_path(current_user,@board,tag), method: :delete%>
  <%end%>
</ul>
